/*
Design and development by Evan
*/

@font-face {font-family: 'ITCClearface';font-weight: bold;font-style: normal;src: url('webfonts/3A2750_0_0.eot');src: url('webfonts/3A2750_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3A2750_0_0.woff2') format('woff2'),url('webfonts/3A2750_0_0.woff') format('woff'),url('webfonts/3A2750_0_0.ttf') format('truetype');}


@font-face {font-family: 'ITCClearface';font-weight: normal;font-style: normal;src: url('webfonts/3A2750_1_0.eot');src: url('webfonts/3A2750_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3A2750_1_0.woff2') format('woff2'),url('webfonts/3A2750_1_0.woff') format('woff'),url('webfonts/3A2750_1_0.ttf') format('truetype');}


* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1 {
  color:#FFFFFF;
  font-family: "ITCClearface", times, -apple-system, BlinkMacSystemFont, "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: bold;
  font-style: normal;
  font-size: 3.8em;
  line-height:normal;
  text-align: center; /*让div内部文字居中*/
  margin-top: 50px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

h2{
  color:#FFFFFF;
  font-family: "ITCClearface", times, -apple-system, BlinkMacSystemFont, "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: bold;
  font-style: normal;
  font-size: 1.75em;
  line-height: 2.0;
  width: 100%;
  max-width:520px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 24px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


h3{
  font-size: 1.375em;
  font-weight: 500;
}

h4{
  font-family: "Roboto Mono", "PT Mono", -apple-system, BlinkMacSystemFont, "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 2.5em;
  font-weight:400;
  line-height: normal;
  margin-top: 0em;
}

h5{
  font-size: 1.375em;
  font-weight: 400;
  color:#FFFFFF;
  line-height: 27px;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue",Helvetica,Arial,sans-serif;
  width: 100%;
  max-width:520px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 75px;
  margin-bottom: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

h6{
  color:#FFFFFF;
  font-size: 1.75em;
  font-family: "ITCClearface", times, -apple-system, BlinkMacSystemFont, "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
  font-style: normal;
  line-height: 2.0;
  text-align: center;
  width: 100%;
  max-width:600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 24px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


body {
  background-color: #000000;
  color:#FFFFFF;
  line-height: 27px;
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight:300;
	padding-bottom: 25px;
	margin-bottom: 25px;
}

p {
  width: 100%;
  max-width:520px;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

span{
  font-size: 1em;
}

.pageflow{
  max-width: 1000px;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.audit{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


.versus{
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.competitor{
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


.plan{
  max-width: 1600px;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.tag1{
  text-align: center;
  display: table;
  background-color: #4CD964;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
  border-radius:25px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  margin-top: 50px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 0.875em;
  color: #000000;
}

.tag2{
  text-align: center;
  display: table;
  background-color: #007AFF;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
  border-radius:25px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  margin-top: 50px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 0.875em;
}

.data{
  text-align: center;
}

.transtion{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 24px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.back{
  font-size:14px;
  color:#CDD8DE;
  margin-left: 20%;
}


.banner {
  display: block;
  margin: 0;
}

.information{
  justify-content:center;//子元素水平居中
  align-items:center;//子元素垂直居中
  display:-webkit-flex;
  padding-top: 150px;
  padding-bottom: 130px;
  display:flex;
  /*background-color: #B55546;*/
  color: #FFFFFF;
}

.overview{
  margin-right: 4.68em;
  max-width: 520px;
}
.team{
  margin-right: 4.68em;
}

.result{
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


.mail{
  width: 100%;
  max-width:520px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}



a {outline:none !important; text-decoration:none;border-bottom:1px #17181A solid;}
a {padding-bottom: 4px;}
a:link {color:#FFFFFF;}
a:visited {color:#FFFFFF;}
a:hover {color:#312EFF;}
a:active {color:#FFFFFF; }

@media only screen and (max-width: 1024px) {

  h4{
    font-size: 1.5em;
  }

  .information{
    justify-content:center;//子元素水平居中
    align-items:center;//子元素垂直居中
    display:-webkit-flex;
    padding-top: 150px;
    padding-bottom: 130px;
    display:flex;
  }

  .overview{
    margin-right: 2em;
    max-width: 400px;
  }
  .team{
    margin-right: 2em;
  }

@media only screen and (max-width: 768px) {
  body {
    margin-left: 32px;
    margin-right: 32px;
  }

  h4{
    font-size: 1.375em;
  }

  .information{
    justify-content:center;//子元素水平居中
    align-items:center;//子元素垂直居中
    display:-webkit-flex;
    padding-top: 150px;
    padding-bottom: 130px;
  }

  .overview{
    margin-right: 1em;
    max-width: 520px;
  }
}


@media only screen and (max-width: 520px) {
  h1{
    text-align: left; /*让div内部文字居中*/
    margin-bottom: 120px;
  }

  body {
    margin-left: 32px;
    margin-right: 32px;
  }

  h4{
    font-size: 1.375em;
  }
  .information{
    margin-top: 100px;
    display:contents;
  }

  .overview{
    max-width: 520px;
  }

}
