/*
Evan's personal website

*/
@font-face {
  font-family: 'bitterregular';
  src: url('bitter-regular-webfont.woff2') format('woff2'),
       url('bitter-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family:'bitterregular', "Hiragino Mincho ProN W6", "HiraMinProN-W6", "Yu Mincho Demibold", "Kozuka Mincho Pro B", "KozMinPro-Bold", MinionPro-Capt,sans-serif, Arial, Helvetica ;
  font-size: 16px;
  line-height:1.7em;
  color:#000000;
  background:#FFFFFF;
  margin:70px;
  display: block;
}

.highlight{
   position:relative;
   z-index: 1;
   color: #000000;
}

.highlight::before{
  content:'';
  position:absolute;
  width: 100%;
  height: 0;
  left:0;
  bottom:5px;
  border-bottom: 4px solid #F6F100;
  z-index: -1;
}

.site_header span {
  display: inline-block;
  color: #000000;
  text-decoration: none;
  font-size: 24px;
  letter-spacing: 1px;
  margin-bottom: 35px;
}


.project_content {
  width:80%;
  max-width:640px;
}

.main-nav {
  display: block;
  margin-bottom: 30px;
}

div#content {
  display:block;
}

h1 {
  font-family:'bitterregular', "Hiragino Mincho ProN W6", "HiraMinProN-W6", "Yu Mincho Demibold", "Kozuka Mincho Pro B", "KozMinPro-Bold", MinionPro-Capt,sans-serif, Arial, Helvetica ;
  font-size: 24px;
  font-weight: 500;
  line-height: 4.2rem;
  color: #000000;
  margin-bottom: 1em;
}

h1.txt-light span {
  font-weight: 100
}

h2 {
  font-family:'bitterregular', "Hiragino Mincho ProN W6", "HiraMinProN-W6", "Yu Mincho Demibold", "Kozuka Mincho Pro B", "KozMinPro-Bold", MinionPro-Capt,sans-serif, Arial, Helvetica ;
  color:#000000;
  font-size:3rem;
  margin-bottom:2.8em;
  display: block;
}

h3 {
  font-size:18px;
  color:#FF6A00;
  line-height:1;
  margin-top:1.5em;
}

h4 {font-size:1.2em;line-height:1.25;margin-bottom:1.25em;}

h5 {font-size:1em;font-weight:bold;margin-bottom:1.5em;}

h6 {font-size:1em;font-weight:bold;}

p {margin: auto;}

a {text-decoration:none; color:#000000}

b {font-weight:bold;}

h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}

ul {
  display: flex;
  font-family:'bitterregular', "Hiragino Mincho ProN W6", "HiraMinProN-W6", "Yu Mincho Demibold", "Kozuka Mincho Pro B", "KozMinPro-Bold", MinionPro-Capt,sans-serif, Arial, Helvetica ;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  overflow: hidden;
  list-style-type: none;
  margin: auto;
  padding-left: 0px;
}


li a {
  margin: 0px 20px 0px 0px;
  color: #000000;
  text-decoration: none;
}

li a.active {
    color: #000000;
}

li a:hover:not(.active) {
    color: #000000;
}


/* CSS for Project */

div.img {
    border: 0px solid #ccc;
}

div.img:hover {
    opacity: 0.8;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    text-align: left;
}

div.date{
    color:#999999
}

* {
    box-sizing: border-box;
}

.responsive {
    float: left;
    width: 24.99999%;
}

/*div.responsive:hover {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  opacity: 0.99;
}*/


@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
