/*
Design and development by Evan
*/
@import url("//hello.myfonts.net/count/3a2750");


@font-face {font-family: 'ITCClearface';font-weight: bold;font-style: normal;src: url('webfonts/3A2750_0_0.eot');src: url('webfonts/3A2750_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3A2750_0_0.woff2') format('woff2'),url('webfonts/3A2750_0_0.woff') format('woff'),url('webfonts/3A2750_0_0.ttf') format('truetype');}


@font-face {font-family: 'ITCClearface';font-weight: normal;font-style: normal;src: url('webfonts/3A2750_1_0.eot');src: url('webfonts/3A2750_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3A2750_1_0.woff2') format('woff2'),url('webfonts/3A2750_1_0.woff') format('woff'),url('webfonts/3A2750_1_0.ttf') format('truetype');}


* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  color:#000000;
  background:#ffffff;
	font-family:'SF-Pro-Display', sans-serif, Arial, Helvetica;
  width: 75%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 25px;
	margin-bottom: 25px;
	padding-top: 50px;
}


dl dt {display:inline-block;float: left;margin-right: 0.25em;color:#CDD8DE;}
.account{width:400px;display: inline-block;font:inherit;}
address.column-2 {width:400px;display: inline-block;font:inherit;}

header{
	width:100%;
	height: auto;
}

nav{
	display:inline-block;
	width: 60%;
	max-width: 640;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

ul {
  padding: 0;
}
li {
  font-size: 2rem;
  line-height:1.2;
  font-family:'SF-Pro-Display', sans-serif, Arial, Helvetica;
  font-weight:bold;
  float:left;
	margin-right:.25em;
  list-style-type: none;
  display: inline-block;
}

a {
  outline:none !important;
  text-decoration:none;
  cursor: pointer;
  color: #CDD8DE;
}

a:hover {
  color:#283239;
}


.hideable-section {
  display: none;
}
.hideable-section:first-of-type {
  display: block;
}

.hideable-section {
  display: none;
}
.hideable-section:first-of-type {
  display: block;
}

h2{
  font-size: 2rem;
  line-height:1.2;
  font-family: "ITCClearface", Georgia, -apple-system, BlinkMacSystemFont, "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
  font-style: normal;
  max-width:860px;
  margin-right:.25em;
  display:inline-block;
  position: relative;
  margin-top: 20px;
}

h2 a{
  color: #283239;
}

p{
  font-size: 2rem;
	line-height:1.2;
  font-family: "ITCClearface", Georgia, -apple-system, BlinkMacSystemFont, "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
  font-style: normal;
	max-width:860px;
	margin-right:.25em;
  display:inline-block;
	position: relative;
}

span{
  font-family:'SF-Pro-Text', sans-serif, Arial, Helvetica;
  font-size: 1rem;
  margin-left: 20px;
  color: #283239;
}



#selected-projects{
  margin-top: 10px;
}
