/*
Design and development by Evan
*/

@font-face {font-family: 'ITCClearface';font-weight: bold;font-style: normal;src: url('webfonts/3A2750_0_0.eot');src: url('webfonts/3A2750_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3A2750_0_0.woff2') format('woff2'),url('webfonts/3A2750_0_0.woff') format('woff'),url('webfonts/3A2750_0_0.ttf') format('truetype');}


@font-face {font-family: 'ITCClearface';font-weight: normal;font-style: normal;src: url('webfonts/3A2750_1_0.eot');src: url('webfonts/3A2750_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3A2750_1_0.woff2') format('woff2'),url('webfonts/3A2750_1_0.woff') format('woff'),url('webfonts/3A2750_1_0.ttf') format('truetype');}


@keyframes Down2Up {
  0% {
    transform: translateY(6px);
    opacity: 0.8;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

::-moz-selection { background: #EAEAEA; }
::selection { background: #EAEAEA; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  color:#000000;
  background:#ffffff;
  font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,'Helvetica-neue','SF-Pro-Text','SF-Pro-Display', sans-serif, Arial;
  width: 75%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 25px;
	margin-bottom: 25px;
	padding-top: 50px;
  hyphens: manual;
  animation: 1s ease-out 0s 1 Down2Up;
}


dl dt {display:inline-block;float: left;margin-right: 0.25em;color:#CDD8DE;}
.account{width:400px;display: inline-block;font:inherit;}
address.column-2 {width:400px;display: inline-block;font:inherit;}

header{
	width:100%;
	height: auto;
}

nav{
	display:inline-block;
	width: 60%;
	max-width: 640;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

ul {
  padding: 0;
}
li {
  font-size: 2rem;
  line-height:1.2;
  font-family:-apple-system, BlinkMacSystemFontï¼Œ'SF-Pro-Display', sans-serif, Arial, Helvetica;
  font-weight:bold;
  float:left;
	margin-right:.25em;
  list-style-type: none;
  display: inline-block;
}

a {
  outline:none !important;
  text-decoration:none;
  cursor: pointer;
  color: #CDD8DE;
}



.active{
  color:#283239;
}

.hideable-section {
  display: none;
  animation: 1s ease-out 0s 1 Down2Up;

}
.hideable-section:first-of-type {
  display: block;
}



h2{
  font-size: 2rem;
  line-height:1.2;
  font-family: "ITCClearface", Georgia, -apple-system, BlinkMacSystemFont, "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
  font-style: normal;
  max-width:860px;
  margin-right:.25em;
  display:inline-block;
  position: relative;
  margin-top: 20px;
}



h2 a:hover{
  color:#000000;
}

h3{
  font-size: 0.8rem;
  line-height:1.2;
  font-family: 'SF-Pro-Display',-apple-system, BlinkMacSystemFont, "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
  margin-bottom: 2px;
  text-transform:uppercase;
}

.content a{
  color: #C0CBD1;
}



h3 a:hover{
  text-decoration: underline;
}


h4{
  font-size: 1.2rem;
  line-height:1.2;
  font-family: 'SF-Pro-Display',-apple-system, BlinkMacSystemFont, "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight:normal;
  font-style: normal;
  margin-top: 16px;
}

h5{
  font-size: 2rem;
  line-height:1.2;
  font-family: "ITCClearface", Georgia, -apple-system, BlinkMacSystemFont, "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
  font-style: normal;
  max-width:860px;
  margin-right:.25em;
  display:inline-block;
  position: relative;
}

h5 a{
  color:#283239;
}

address.column-2 a{
  color:#CDD8DE;
}

dl.account a{
  color:#CDD8DE;
}

address.column-2 a:hover{
  color:#283239;
}

dl.account a:hover{
  color:#283239;
}

.content a:hover{
  color:#283239;
}

a:hover {
  color:#283239;
}

p{
  font-size: 2rem;
	line-height:1.2;
  font-family: "ITCClearface", Georgia, -apple-system, BlinkMacSystemFont, "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
  font-style: normal;
	max-width:860px;
	margin-right:.25em;
  display:inline-block;
	position: relative;
}

span{
  font-family:'SF-Pro-Text', sans-serif, Arial, Helvetica;
  font-size: 1rem;
  margin-left: 20px;
  color: #CDD8DE;
}


#view-selected-projects{
  font-size: 2rem;
  line-height:1.2;
  font-family: "ITCClearface", Georgia, -apple-system, BlinkMacSystemFont, "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
  font-style: normal;
  max-width:860px;
  margin-right:.25em;
  display:inline-block;
  position: relative;

}


.main {
  width:60%;
  max-width: 1600px;
}

.row {
  margin: 8px -16px;
}

.column{
  display: inline-table;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding-right: 10px;
}

img {
  border: 1px solid #FAFAFA;
  animation: 1s ease-out 0s 1 Down2Up;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1800px) {
  .main {
    width:75%;
  }
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
  body{
    width:90%;
  }
  .main {
    width:100%;
  }
  .column {
    width: 100%;
  }
}
