/*
Evan's personal website

*/
* {
	box-sizing: border-box;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-text-size-adjust:none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transition: opacity 0.2s ease;
	-moz-transition: opacity 0.2s ease;
	-ms-transition: opacity 0.2s ease;
	-o-transition: opacity 0.2s ease;
	transition: opacity 0.2s ease;
}

body {
  font-family:'San Francisco', -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height:1.7em;
  color:#000000;
  background:#FCFCFC;
  margin:70px 0px 0px 50px;
  display: block;
}

.highlight{
   position:relative;
   z-index: 1;
   color: #000000;
}

.highlight::before{
  content:'';
  position:absolute;
  width: 100%;
  height: 0;
  left:0;
  bottom:5px;
  border-bottom: 4px solid #F6F100;
  z-index: -1;
}

.site_header span {
  display: inline-block;
  color: #000000;
  text-decoration: none;
  font-size: 24px;
	font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 35px;
}


.project_content {
  width:80%;
  max-width:640px;
  margin-left: 20px;
}

.main-nav {
  display: block;
  margin-bottom: 30px;
}

div#content {
  display:block;
}

h1 {
	font-family: 'San Francisco', -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 4.2rem;
  color: #000000;
  margin-bottom: 1em;
}

h1.txt-light span {
  font-weight: 100
}

h2 {
  font-family: 'San Francisco', -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color:#000000;
  font-size:3rem;
  margin-bottom:2.8em;
  display: block;
}

h3 {
  font-size:18px;
  color:#FF6A00;
  line-height:1;
  margin-top:1.5em;
}

h4 {font-size:1.2em;line-height:1.25;margin-bottom:1.25em;}

h5 {font-size:1em;font-weight:bold;margin-bottom:1.5em;}

h6 {font-size:1em;font-weight:bold;}

p {margin: auto;}

a {text-decoration:none; color:#000000}

b {font-weight:600;}

h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}

ul {
  display: flex;
  font-family: 'San Francisco', -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  overflow: hidden;
  list-style-type: none;
  margin: auto;
  padding-left: 0px;
}


li a {
  margin: 0px 20px 0px 0px;
  color: #90949C;
  text-decoration: none;
}

li a.active {
  color: #000000;
}

li a:hover:not(.active) {
  opacity: 0.7;
}


/* CSS for Project */

.responsive {
  display: inline-block;
	width: 355px;
	height:480px;
	box-shadow: 0 20px 20px rgba(0, 0, 0, .08);
  margin: 20px;
}

.responsive_img {
  display: block;
  float: left;
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  width: 355px;
  height: 296px;
  padding: 20px;
}

.responsive_body{
  display: block;
  float: left;
  box-sizing: border-box;
  clear: both;
  padding: 20px 20px 0px 20px;
  width: 355px;
}

.responsive_title {
  text-align: left;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 12px;
  padding: 0px;
}

.responsive_description{
  color:#999999;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}

.responsive_footer{
  display:inline-block;
  float: left;
  box-sizing: border-box;
  width: 355px;
  height: 46px;
  margin-top: 14px;
  padding: 14px 20px 0px 20px;
  border-top-color: rgb(233, 235, 238);
  border-top-style: solid;
  border-top-width: 1px;
  color:#999999;
  font-size: 11px;
  font-weight: normal;
  line-height: 20px;
}
